#holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
  gap: 1rem;
}
article {
  padding: 20px;
}

img {
  max-width: 100%;
}

nav {
  display: flex;
  place-content: center;
  padding-block: 30px;
  gap: 20px;
}

button {
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.valgt {
  background-color: olivedrab;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#popop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000aa;
  overflow: scroll;
}

#popop article {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
  border-radius: 25px;
  padding: 12px;
  background-color: white;
  gap: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#luk {
  position: fixed;
  left: 82%;
  padding: 1rem;
  font-size: 1.7em;
  font-weight: bolder;
  color: white;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
