#holder {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
  gap: 1rem;
}
article {
  border: 2px dashed green;
  padding: 20px;
}

img {
  max-width: 100%;
}

nav {
  display: flex;
  place-content: center;
  padding-block: 30px;
  gap: 20px;
}

button {
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.valgt {
  background-color: olivedrab;
}

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
